# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS-Code
.vscode/
*.code-workspace

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Test folders
.test_export
