# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store
